@model Viethub.Models.otherInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Quản lý  thông tin khác</h1>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Chi tiết thông tin</h6>
    </div>
    <div class="card-body">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Tiêu đề</h6>
                        </div>
                        <div class="card-body">
                            @Html.DisplayFor(model => model.name)

                        </div>
                    </div>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Meta</h6>
                        </div>
                        <div class="card-body">
                            @Html.DisplayFor(model => model.meta)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Ngày đăng</h6>
                        </div>
                        <div class="card-body">
                            @Html.DisplayFor(model => model.datebegin)
                        </div>
                    </div>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Trạng thái hiển thị</h6>
                        </div>
                        <div class="card-body">
                            @Html.DisplayFor(model => model.hide)

                        </div>
                    </div>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Thứ tự hiển thị</h6>
                        </div>
                        <div class="card-body">
                            @Html.DisplayFor(model => model.order)

                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Chi tiết</h6>
                </div>
                <div class="card-body">
                    @Html.Raw(Model.description)
                </div>
            </div>
        </div>
        <div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
</div>
