
@model Viethub.Models.Dish

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- /.container-fluid -->
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Quản lý  món ăn</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Chi tiết món ăn</h6>
        </div>
        <div class="card-body">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Tiêu đề</h6>
                            </div>
                            <div class="card-body">
                                @Html.DisplayFor(model => model.name)

                            </div>
                        </div>
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Meta</h6>
                            </div>
                            <div class="card-body">
                                @Html.DisplayFor(model => model.meta)
                            </div>
                        </div>
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Hình ảnh</h6>
                            </div>
                            <div class="card-body">
                                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="~/Content/assets/img/products/@Html.DisplayFor(model => model.img)">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Giá tiền</h6>
                            </div>
                            <div class="card-body">
                                @Html.DisplayFor(model => model.price) Vnd
                            </div>
                        </div>
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Ngày đăng</h6>
                            </div>
                            <div class="card-body">
                                @Html.DisplayFor(model => model.datebegin)
                            </div>
                        </div>
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Trạng thái hiển thị</h6>
                            </div>
                            <div class="card-body">
                                @Html.DisplayFor(model => model.hide)

                            </div>
                        </div>
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Thứ tự hiển thị</h6>
                            </div>
                            <div class="card-body">
                                @Html.DisplayFor(model => model.order)

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Chi tiết</h6>
                    </div>
                    <div class="card-body">
                        @Html.Raw(Model.description)
                    </div>
                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </div>
                    </div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</div>
<!-- /.container-fluid -->